<a [routerLink]="'/'">
    <div class="dashboard-link">Dashboard</div>
</a>
<div class="container">
    <div class="text-center">
        <h1>Certificates</h1>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div *ngIf="success" class="alert alert-success">{{ success }}</div>
    <div class="links">
        <a (click)="creatingCertificate = true" *ngIf="!creatingCertificate">
            <button class="btn btn-default pull-right">Create new Certificate</button>
        </a>
    </div>
    <div *ngIf="creatingCertificate" class="certificate">
        <form #newCertificateForm="ngForm" (submit)="onCreateCertificate()">
            <div class="user-info" *ngIf="!acceptUserInfo">
                <h4>Your information:</h4>
                <span>Firstname: {{ user.first_name }}</span>
                <span>Lastname: {{ user.last_name }}</span>
                <span>Email: {{ user.email }}</span>
                <button type="button" class="btn btn-default" (click)="onChangeUserInfo()">Change user info</button>
                <button type="button" class="btn btn-default" (click)="acceptUserInfo = true">Continue with this info
                </button>
            </div>
            <div *ngIf="acceptUserInfo">
                <input type="text" name="name" placeholder="Name" [(ngModel)]="newCertificateName" required>
                <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
                <button type="submit" class="btn btn-default" [disabled]="!newCertificateForm.form.valid">
                    Create certificate
                </button>
            </div>

        </form>
    </div>
    <div class="certificates">
        <h2>Active certificates</h2>
        <div *ngIf="(certificates | state:'active').length == 0">
            <h4>Looks like you have no certificates. Create one?</h4>
        </div>
        <ul>
            <li *ngFor="let certificate of (certificates | state:'active'); let i = index;" class="row">
                <div class="col-md-12">
                    <b>{{ certificate.name }}</b><br>
                    <span>Email: {{ certificate.subject_email }}</span>
                    <button (click)="onRevokeCertificate(certificate.pk, i)" class="btn btn-default pull-right">Revoke certificate
                    </button>
                    <button (click)="onDownload(certificate.pk)" class="btn btn-default pull-right">Download certificate</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="revoked-certificates">
        <h2>Revoked certificates</h2>
        <div *ngIf="(certificates | state:'revoked').length == 0">
            <h4>Looks like you have no revoked certificates.</h4>
        </div>
        <ul>
            <li *ngFor="let certificate of (certificates | state:'revoked')">
                <b>{{ certificate.name }}</b><br>
                <span>Email: {{ certificate.subject_email }}</span>
            </li>
        </ul>
    </div>
</div>
