form {
    width: 340px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.btn {
    margin-top: 10px;
    width: 50%;
}

.btn-group {
    width: 100%;
}

.form-group {
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 200px;
}

.login-button {
    width: 100%;
}